@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/spykapps/theme-edinburgh/resources/css/edinburgh.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
